sudo: false
language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - 'stable'
before_install:
  - npm install -g npm-install-peers
install:
  - npm install
  - npm prune
  - npm-install-peers
script:
  - npm run lint
  - npm run test:coverage
  - make dist
after_success:
  - npm run semantic-release
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
